.voting {
  &__image {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    img {
      border-radius: 20px;
      height: 360px;
      max-width: 100%;
      object-fit: cover;
    }
  }
  &__reactions {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, +50%);
    border-radius: 20px;
    background-color: #fff;
    &-item {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.gladsmile {
        background: #97eab9;
        border-radius: 15px 0 0 15px;
        &:hover {
          background: rgba(151, 234, 185, 0.3);
          svg path {
            fill: #97eab9;
          }
        }
      }
      &.heart {
        background: #ff868e;
        &:hover {
          background: rgba(255, 134, 142, 0.3);
          svg path {
            fill: #ff868e;
          }
        }
      }
      &.sadsmile {
        background: #ffd280;
        border-radius: 0 15px 15px 0;
        &:hover {
          background: rgba(255, 210, 128, 0.3);
          svg path {
            fill: #ffd280;
          }
        }
      }
    }
  }
}
