.voting {
  background-color: transparent;
  &__content {
    margin-top: 10px;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  &__location {
    display: flex;
    align-items: center;
    &-back {
      width: 40px;
      height: 40px;
      background: #fbe0dc;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &-title {
      margin-left: 10px;
      width: 146px;
      height: 40px;
      background: #ff868e;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 2px;
      color: #ffffff;
      cursor: pointer;
    }
  }
  &__image {
    margin-top: 20px;
    position: relative;
  }
  &__reactions {
    border: 4px solid #fff;
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, +50%);
    border-radius: 20px;
    background-color: #fff;
    &-item {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &.gladsmile {
        background: #97eab9;
        border-radius: 20px 0 0 20px;
        &:hover {
          background: rgba(151, 234, 185, 0.3);
          svg path {
            fill: #97eab9;
          }
        }
      }
      &.heart {
        background: #ff868e;
        &:hover {
          background: rgba(255, 134, 142, 0.3);
          svg path {
            fill: #ff868e;
          }
        }
      }
      &.sadsmile {
        background: #ffd280;
        border-radius: 0 20px 20px 0;
        &:hover {
          background: rgba(255, 210, 128, 0.3);
          svg path {
            fill: #ffd280;
          }
        }
      }
    }
  }
  &__history {
    margin-top: 52px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-item {
      padding: 15px 20px 15px 15px;
      background: #f8f8f7;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-data {
        display: flex;
        align-items: center;
      }
      &-date {
        background: #ffffff;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        color: #1d1d1d;
        padding: 3px 10px 3px 10px;
      }
      &-descr {
        margin-left: 20px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8c8c8c;
        span {
          font-weight: 600;
          color: #000;
        }
      }
    }
  }
}
