.gallery {
  background-color: transparent;
  &__content {
    margin-top: 10px;
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  &__location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-info {
      display: flex;
    }
    &-back {
      width: 40px;
      height: 40px;
      background: #fbe0dc;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    &-title {
      margin-left: 10px;
      width: 146px;
      height: 40px;
      background: #ff868e;
      border-radius: 10px;

      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      letter-spacing: 2px;
      color: #ffffff;
      cursor: pointer;
    }
    &-load {
      cursor: pointer;
      // width: 143px;
      height: 40px;
      background: #fbe0dc;
      border-radius: 10px;
      display: flex;
      // justify-content: center;
      align-items: center;
      padding-right: 30px;
      padding-left: 30px;
      &-title {
        margin-left: 10px;
        transition: 0.2s all;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ff868e;
      }
      transition: 0.2s all;
      svg path {
        transition: 0.2s all;
      }
      &:hover {
        background: #ff868e;
        .gallery__location-load-title {
          color: #fff;
        }
        svg path {
          fill: #fff;
        }
      }
    }
  }
  &__selectors {
    margin-top: 20px;
    background: #f8f8f7;
    padding: 0 20px 20px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  &__selector {
    display: flex;
    justify-content: space-between;
    .select {
      position: relative;
      margin-top: 28px;
      select {
        width: 290px;
        height: 40px;
        background: #fff;
        border-radius: 10px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        color: #1d1d1d;
        padding-left: 10px;

        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 1em;
        &:hover {
          border: 2px solid #fbe0dc;
          background-position: right 6px center;
        }
      }
      #limit {
        width: 240px;
      }
      &-title {
        position: absolute;
        top: -18px;
        left: 10px;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: #8c8c8c;
        text-transform: uppercase;
      }
      &.limit {
        display: flex;
      }
    }
    &-reload {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s all;
      svg path {
        transition: 0.2s all;
      }
      &:hover {
        background: #ff868e;
        svg path {
          fill: #fff;
        }
      }
    }
  }
  &__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    // grid-auto-flow: dense;
    grid-template-rows: 140px;
    grid-auto-rows: 140px;
    row-gap: 20px;
    justify-content: space-between;
    &-image {
      position: relative;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s all;
        border-radius: 20px;
      }

      &:nth-child(10n + 1) {
        grid-column: 1;
        grid-row: span 2;
      }

      &:nth-child(10n + 4) {
        grid-column: span 2;
        grid-row: span 2;
      }

      &:nth-child(10n + 8) {
        grid-row: span 2;
      }

      &:nth-child(10n + 9) {
        grid-column: span 2;
        grid-row: span 2;
      }
    }
    &-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      .box {
        position: relative;
        overflow: hidden;
        height: 100%;
        background-size: cover;
        cursor: pointer;
        width: 100%;
        &:hover {
          .hover-effect {
            opacity: 1;
          }
          .hover-text {
            right: 50%;
            transform: translateX(50%);
          }
        }
      }
      .hover-effect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 134, 142, 0.6);
        border-radius: 20px;
        transition: all 0.2s ease-in-out;
        opacity: 0;
        display: flex;
        align-items: center;
      }
      .hover-text {
        width: 40px;
        height: 40px;
        background: #fff;
        border-radius: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #ff868e;
        position: absolute;
        right: -100%;
        transition: all 0.4s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
