.gallery {
  &__location {
    &-load {
      cursor: pointer;
      height: 40px;
      background: #fbe0dc;
      border-radius: 10px;
      display: flex;
      align-items: center;
      padding-right: 30px;
      padding-left: 30px;
      &-title {
        margin-left: 10px;
        transition: 0.2s all;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #ff868e;
      }
      transition: 0.2s all;
      svg path {
        transition: 0.2s all;
      }
      &:hover {
        background: #ff868e;
        .gallery__location-load-title {
          color: #fff;
        }
        svg path {
          fill: #fff;
        }
      }
    }
  }
  &__selectors {
    margin-top: 20px;
    background: #f8f8f7;
    padding: 0 20px 20px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
  }
  &__selector {
    display: flex;
    justify-content: space-between;
    .select {
      position: relative;
      margin-top: 28px;
      select {
        // font-family: 'Montserrat', sans-serif;
        width: 290px;
        height: 40px;
        background: #fff;
        border-radius: 10px;
        border: none;
        font-weight: 400;
        font-size: 16px;
        color: #1d1d1d;
        padding-left: 10px;

        // // font-family: 'Jost';
        // font-weight: 500;
        // font-size: 16px;
        // line-height: 24px;
        // color: #1d1d1d;

        appearance: none;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 1em;
        &:hover {
          border: 2px solid #fbe0dc;
          background-position: right 6px center;
        }
      }
      #limit {
        width: 240px;
      }
      &-title {
        position: absolute;
        top: -18px;
        left: 10px;
        font-weight: 500;
        font-size: 10px;
        line-height: 18px;
        color: #8c8c8c;
        text-transform: uppercase;
      }
      &.limit {
        display: flex;
      }
    }
    &-reload {
      margin-left: 10px;
      width: 40px;
      height: 40px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s all;
      svg path {
        transition: 0.2s all;
      }
      &:hover {
        background: #ff868e;
        svg path {
          fill: #fff;
        }
      }
    }
  }
}

.modal {
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
  &.is-open {
    opacity: 1;
    pointer-events: initial;
    .modal__content {
      transform: scale(1);
    }
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 17px);
    min-height: 900px;
    background-color: rgba(29, 29, 29, 0.6);
  }
  &__content {
    box-sizing: border-box;
    padding: 20px;
    margin: 30px;
    position: absolute;
    width: 680px;
    height: 840px;
    right: 0;
    top: 0;
    background: #f8f8f7;
    border-radius: 20px;
    transform: scale(0.95);
    transition: transform var(--animation-duration) var(--timing-function);
  }
  &__close {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    &-img {
      width: 40px;
      height: 40px;
      background: #ffffff;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.2s all;
      &:hover {
        background: #ff868e;
        svg path {
          fill: #ffffff;
        }
      }
    }
  }
  &__title {
    margin: 0;
    margin-top: 40px;
    text-align: center;
    height: 52px;
    font-weight: 600;
    font-size: 31px;
    line-height: 52px;
    text-align: center;
    color: #1d1d1d;
  }
  &__guidelines {
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8c8c8c;
    a {
      color: #ff868e;
      text-decoration: none;
    }
  }
  &__field {
    padding: 20px 40px;
    box-sizing: border-box;
    margin-top: 40px;
    position: relative;
    width: 640px;
    height: 320px;
    background: #ffffff;
    border: 2px dashed #fbe0dc;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-empty {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .bold {
      cursor: pointer;
      font-weight: 600;
    }
  }
  input[type='file'] {
    display: none;
  }
  &__status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #8c8c8c;
    &-uploadbtn {
      margin-top: 20px;
      cursor: pointer;
      padding: 12px 30px;
      background: #ff868e;
      border-radius: 10px;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 2px;
      color: #ffffff;
    }
  }
  &__uploaded {
    height: 100%;
    &-image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  &__message {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    background: #ffffff;
    border-radius: 10px;
    &-descr {
      margin-left: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #8c8c8c;
    }
  }
  .error {
    background: #fbe0dc;
    border: 2px dashed #ff868e;
  }
}
