.history {
  margin-top: 52px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &-item {
    padding: 15px 20px 15px 15px;

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-data {
      display: flex;
      align-items: center;
    }
    &-date {
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      padding: 3px 10px 3px 10px;
      line-height: 24px;
    }
    &-descr {
      margin-left: 20px;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #8c8c8c;
      p {
        margin: 0;
      }
      span {
        font-weight: 600;
      }
    }
  }
}
