body {
  background-color: #f8f8f7;
}

.logo-title svg path,
.app__logo svg path {
  fill: #1d1d1d;
}

.app__title {
  color: #1d1d1d;
}

.app__subtitle {
  color: #1d1d1d;
}

.app__card-button {
  background: #ffffff;
}

.app__box {
  background: #fbe0dc;
}

.search__input input {
  background: #ffffff;
}

.search__dandruff {
  background: #fbe0dc;
}

.search__reaction {
  background: #ffffff;
}

.block {
  background-color: #f8f8f7;
}

.block__content {
  background: #fff;
}

.location-back {
  background: #fbe0dc;
}

.voting__reactions {
  border: 4px solid #fff;
}

.history-item {
  background: #f8f8f7;
}

.history-item-date {
  background: #ffffff;
  color: #1d1d1d;
}

.history-item-descr span {
  color: #000;
}

.breedinfo-id {
  background: #ff868e;
}

.slick-dots {
  background: #fff;
  li {
    background-color: #fbe0dc;
  }
}

.breedinfo__table {
  border: 2px solid #fbe0dc;
}

.breedinfo__title {
  background: #ffffff;
}

.breedinfo__title {
  color: #1d1d1d;
}

.bold {
  color: #1d1d1d;
}

.breeds__menu-breeds select,
.breeds__menu-limit select {
  background: #fff;
  &:hover {
    border: 2px solid #fbe0dc;
  }
}

.breeds__menu-sort {
  background: #f8f8f7;
  &:hover {
    border: 2px solid #fbe0dc;
  }
}

.hover-text {
  background: #ffffff;
}

.gallery__location-load {
  background: #fbe0dc;
}

.gallery__selectors {
  background: #f8f8f7;
}

.select select {
  background: #fff;
  color: #1d1d1d;
}

.gallery__selector-reload {
  background: #ffffff;
}

.hover-img {
  background: #fff;
}

.emptybox {
  background: #f8f8f7;
}

.modal__content {
  background: #f8f8f7;
}

.modal__close-img {
  background: #ffffff;
}

.modal__title {
  color: #1d1d1d;
}

.modal__field {
  background: #ffffff;
  border: 2px dashed #fbe0dc;
}

.error {
  background: #fbe0dc;
}

.modal__message {
  background: #ffffff;
}

.hamburger {
  background: #ffffff;
}

.menu {
  background: #f8f8f7;
}

.close-btn {
  background: #ffffff;
}

.card-button {
  background: #ffffff;
}

.eye {
  background: #ffffff;
}
